==SOLUTION==

>This notebook is meant for curriculum development. 

## Instructions:

### Overview

When you have completed writing your lesson, run `ds -create` from the root of this lesson folder. This will create an `index.ipynb` notebook containing the student facing content in the root directory of this lesson. An `index.ipynb` file will be added to the `.solution_files` directory containing all solution materials. 

## How to use this file

**Solution Tags:**

Markdown cells: 
- `==SOLUTION==`

Code cells: 
- `#__SOLUTION__`


#### Create Solution Cells:
- To designate a cell as a solution, place the solution tag on its own line within the cell. This cell is an example of a "solution markdown cell".

- Below is an example of a solution code cell.

In [0]:
#__SOLUTION__

"""
This is a solution cell and 
will not be copied 
to the lesson index.ipynb file
"""

In [33]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt
from IPython.display import display

In [5]:
data = load_iris()
df = pd.DataFrame(data.data)
df.columns = data.feature_names
df['target'] = data.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## First Examination of Data
There are a few steps you should always do when working with a new dataset to understand it.

1. Look at the first few rows
2. Examine the shape of the dataset
3. Examine the data types of the features
4. Look for missing data in the features
5. Check the data type of the target
6. Look for missing labels
7. Examine the balance of classes in the target.

Your Challenge:
Make a function that does all of these.

In order to display a dataframe, you can use the `display()` function from the `IPython.display` module.

In [ ]:
def check_data(features, target, categorical=False):
    """<Write what kind of objects your function takes a arguments, what it does, and what it returns>"""
    
    #display first 5 rows
    
    #print shape of features
    
    #print feature data types
    
    #print number of missing values in each column

    #print the first 5 rows of the target
    
    #print the target data type
    
    #print the number of missing labels in the target
    
    #If the target is categorical: print the class balance of the target
    #If the target is continuous, print the minimum and maximum values

In [42]:
#__SOLUTION__
def check_data(features, target, categorical=False):
    """
    This function takes a dataframe of features and a series or array of targets and 
    prints the shape, datatypes, number of missing values, and class values of each
    
    """
    
    print('First 5 Rows of Features')
    display(features.head(5))
    print('\n')
    print('Shape of Features: ', features.shape)
    print('\n')
    print('Features and Data Types')
    print(features.info())
    print('\n')
    print('Missing Data in Features')
    print(features.isna().sum())
    print('\n')
    print('First 5 Rows of the Target')
    display(target.head())
    print('\n')
    print('Target Data Type: ', target.dtype)
    print('\n')
    print('Missing Labels in Target', target.isna().sum())
    print('\n')
    if categorical:
        print('Target Class Balance')
        print(target.value_counts())
    else:
        print('Target Minimum Value: ', np.min(target))
        print('\n')
        print('Target Maximum Value: ', np.max(target))

In [43]:
check_data(df.drop('target', axis=1), df.target)

First 5 Rows of Features

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

Shape of Features:  (150, 4)


Features and Data Types
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB
None


Missing Data in Features
sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64


First 5 Rows of the Target

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

Target Data Type:  int64


Missing Labels in Target 0


Target Minimum Value:  0


Target Maximum Value:  2